<template>
  <div>
    <div v-for="(client, index) in data" :key="index">{{ client }}</div>
  </div>
</template>

<script>
// eslint-disable-next-line
export default {};
</script>
    name: ClientList
    data() {
        return {
            data: ['a', 'b', 'c']
        }
    },
<style>
</style>
