<div class="container-center">
  <!-- Alert Message -->
  <div class="panel panel-bd">
    <div class="panel-heading">
      <div class="view-header">
        <div class="header-icon">
          <i class="pe-7s-unlock"></i>
        </div>
        <div class="header-title">
          <h3>Login</h3>
          <small><strong>Please enter your login information.</strong></small>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form action="http://pharmacyv5.bdtask.com/version8.1/Admin_dashboard/do_login" id="login" method="post"
        accept-charset="utf-8">
        <div class="form-group">
          <label class="control-label" for="username">Email</label>
          <input type="email" placeholder="Email" title="Email" required="" name="username" id="username"
            class="form-control">
          <span class="help-block small">Your unique email</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">Password</label>
          <input type="password" title="Please enter your password" placeholder="Password" required="" name="password"
            id="password" class="form-control">
          <span class="help-block small">Your strong password</span>
        </div>


        <div>
          <button class="btn btn-success">Login</button>
        </div>
      </form>
    </div>


    <div class="panel-footer">
      <table style="cursor:pointer;font-size:12px" class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>Pass</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://pharmacyv5.bdtask.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="5c2f292c392e3d383135321c3b313d3530723f3331">[email&#160;protected]</a></td>
            <td>123456</td>
            <td>Super Admin</td>
          </tr>
          <tr>
            <td><a href="http://pharmacyv5.bdtask.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="80e1e4ede9eec0e7ede1e9ecaee3efedeb">[email&#160;protected]</a></td>
            <td>123456</td>
            <td>Admin</td>
          </tr>
          <tr>
            <td><a href="http://pharmacyv5.bdtask.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="0c6863626d60684c6b616d6560226f6361">[email&#160;protected]</a></td>
            <td>123456</td>
            <td>Sales Man</td>
          </tr>
          <tr>
            <td><a href="http://pharmacyv5.bdtask.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="4d382e26283f3e0d2a202c2421632e2220">[email&#160;protected]</a></td>
            <td>123456</td>
            <td>Manager</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>